@model IEnumerable<Application.ViewsModels.FicheiroVM>

@{
    ViewData["Title"] = "Index";
}


<form action="/Arquivos/Upload" enctype="multipart/form-data" method="post">
    <input type="file" name="arquivos" id="arquivos" multiple />
    <br />
    <button>Enviar Ficheiro</button>
</form>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <a asp-action="Visualizar" asp-route-id="@item.Id" target="_blank">Visualizar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
